/*
0 - 37.5em -> 0 - 600px:      Phone
37.5em - 56.25em -> 600 -900px:     Tablet Portrait
56.25em - 75em -> 900 - 1200px:   Tablet Landscape

[1200 - 1800] is where normal styles apply
1800px + :      Big Desktop

1em = 16px 
Note: em is the one that works well in media queries
*/

:root {
    
--color-primary-light: rgba(202,233,255,1);
--color-primary-medium: rgba(98,144,195,1);
--color-primary-dark:rgba(5,74,145, 1);

--font:rgba(238, 234, 234, 1);
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }

    80% {
        transform: translateX(.0625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(.0625rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1.875rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit;  */
  box-sizing: border-box;
}


html {
      font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    /* box-sizing: border-box; */
}


/* Main Page Header */
#header {
    height: 98vh;
    background-image: linear-gradient(to right bottom, rgba(5,74,145, 0.8),rgba(202,233,255, 0.8)), url(./img/glaizaW-pic.png);
    background-size: cover;
    background-position: center;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%); /*(x y, x y, x y, x y) */

}

.header__logo-box {
    position: absolute;
    top: 2rem;
    left: 3rem;
}

.header__logo {
    height: 5rem;
    width: 5rem;
    
}

.header__text-box {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /*for animation not to be shaky*/
    margin-bottom: 1rem; /*white space*/
    text-align: center;
}

.heading-primary--main {
    display: block;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .3rem;

    animation: moveInLeft 1s ease-out;

    flex: 1 0 320;
}

.heading-primary--sub {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    animation: moveInRight 1s ease-out;
}


.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 padding: .5rem .8rem;
 display: inline-block;

 border-radius: 1rem;
 transition: all .2s;

 position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 .626rem 1.25rem rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .4s;
}

.btn-white::after {
    background-color: white;
} 

/* For Navigation */
.navigation__checkbox {
    display: none;
}
  
.navigation__button {
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; 
}
  
.navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 4rem;
    background-image: radial-gradient(var(--color-primary-light), var(--color-primary-dark));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); 
}
    
.navigation__nav { 
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
} 
  
.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; 
}
  
.navigation__item {
    font-size: 1rem;
    margin: 0; 
    padding: 0;
    overflow: hidden;
}
  
.navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 2rem;
    color: rgba(0,0,102,1);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 225%;
    transition: all .2s; 
}

.navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block;
}
  
.navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: rgba(0,0,102,1);
    transform: translateX(1rem); 
    font-weight: 900;
}
  
.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); 
}
  
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; 
}
  
.navigation__icon {
    position: relative;
    margin-top: 2rem; 
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.8rem;
    height: 2px;
    background-color: #333;
    display: inline-block; 
}

.navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; 
}
.navigation__icon::before {
      top: -.8rem;
}
.navigation__icon::after {
    top: .8rem; 
}
  
.navigation__button:hover .navigation__icon::before {
    top: -1rem; 
}
  
.navigation__button:hover .navigation__icon::after {
    top: 1rem; 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); 
}

.nav_contact {
    padding-bottom: 1rem;
}
.navigation__contact {
    display: inline;
    font-size: 2.5rem;
    padding: 1rem 1.5rem 0 1.5rem;
}

.fa-linkedin:hover, .fa-github-square:hover, .fa-envelope:hover {
    color: rgba(0,0,102,1);
    font-size: 3rem;
}

.fa-linkedin, .fa-github-square, .fa-envelope {
    font-size: 1em;
}
.copyright {
    margin-top: 3rem;
    color: rgba(0,0,102,1);
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
}

.copyright-next {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

/* About Me Section */

#section-about {
    background-color: #f7f7f7;
    font-weight: 400;
    padding: 22rem 0;
    margin-top: -22vh; 
}

.heading-secondary {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    background-image: linear-gradient(to right, var(--color-primary-dark), rgba(202,233,255,1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .8rem;
    transition: all .2s; 
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.paragraph {
    text-indent: 5%;
}

.paragraph, .about-interest{
    font-size: 1.5rem; 
    text-align: justify;
    text-justify: inter-word;
    color: black;
    padding: 0 8%;
} 

.project-box__text {
    text-indent: 5%;
    font-size: 1.5rem; 
    padding: 0 1rem 1rem 1rem;
    text-align: justify;
    text-justify: inter-word;
    color: black;
    margin: .5rem 0;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem; 
}
      
.u-center-text {
    text-align: center !important; 
}

.about-interest {
    list-style: none;
    
}

.heading-tertiary {
    font-weight: 700;
    text-transform: uppercase; 
    color: rgba(5,74,145, 0.8);
    font-size: 2rem;
    margin-top: 0;
    padding-left: 8%;
}

.u-margin-bottom-small {
    margin-bottom: 1rem !important; 
}

.u-margin-bottom-big {
    margin-bottom: 1.5rem !important; 
}

.about-interest > li > i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--color-primary-dark);
}


#section-projects {
    padding-top: 8rem;
    padding-bottom: 5%;
    background-image: linear-gradient(to right bottom, rgba(202,233,255, 0.8),rgba(5,74,145, 0.8)), url(./img/projects.jpg);
    background-size: cover;
    transform: skewY(-9deg);
    margin-top: -10rem; 
    
}

#section-projects > * {
    transform: skewY(9deg); 
}

.project-box {
    background-color: rgba(238, 234, 234, 1);
    font-size: 1rem;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; 
    width: 85%;
} 

.project-box:hover {
    transform: translateY(-1.5rem) scale(1.03); 
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important; 
}

.project__logo {
    width:100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
}


.projects-tech{
    color: rgba(0,0,102,1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}


.btn-blue{
    background-color:var(--color-primary-medium);
    color: white;
    padding: 0;
    margin-top: 2rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
}

.btn-blue::after {
    background-color: var(--color-primary-medium);
}


.btn-blue:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.heading-projects {
    text-transform: uppercase;
    letter-spacing: .8rem;
    padding: 0 1rem;
    margin-bottom: 3%;
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    
}

.btn {
    margin: 5% 0 3% 0;
    padding: 0;
}

.technology{
    color: var(--color-primary-dark);
    font-family: "Lato";
    font-weight: 700;
    font-size: 1rem;
    word-spacing: 1rem;
}

i {
    text-align: center;
    color: var(--color-primary-dark);
    font-family: "Lato";
    font-weight: 700;
    font-size: 1rem;
    margin: 0 .5rem 0 .5rem;
}

.noteful-logo2 {
    display: none;
}

.navi-items {
    width: 55%;
    margin: auto;
    flex: 1 0;
}

/*MEDIA QUERIES*/

/* 320px to 600px */
@media screen and (min-width: 20em) and (max-width: 37.5em) and (orientation: portrait){
    body, html {
        overflow-x: hidden;
    }


}

@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
    .heading-primary--main {
        font-size: 2.8rem;
        font-weight: 900;
        letter-spacing: .5rem;
    }
    .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .3rem;
    }
    .heading-secondary {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1rem;
    }
    .paragraph, .about-interest {
        font-size: 1.8rem; 
    } 

    .heading-tertiary {
        font-weight: 600;
        font-size: 1.8rem;
        text-align: left !important;
        margin-top: 5%;
    }

    .about-interest > li > i {
        font-size: 1.8rem;
        margin-right: 1rem;
    }

    .heading-projects {
        font-size: 4rem;
        font-weight: 900;
        letter-spacing: 1rem;
        margin-bottom: 3%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:  0 3% 5% 3%;
        margin: 0;
    }

    .row > .col-1-of-2 {
        flex: 1 0 50%;
        margin-bottom: 5%;
    } 

    .col-1-of-2 {
        flex: 1 1 0px;
    }

    .petful_logo {
        height: 1%;
    }

    .noteful-logo2 {
        display: block;
    }

    .noteful-logo1 {
        display: none;
    }

    .spaced-icons {
        margin-bottom: 2.8%;
    }

    .noteful-icons {
        margin-bottom: 6%;
    }
    .navigation__contact {
        font-size: 3rem;
    }

    .fa-linkedin:hover, .fa-github-square:hover, .fa-envelope:hover {
        color: rgba(0,0,102,1);
        font-size: 3.5rem;
    }

    .navi-items {
        width: 35%;
    }
}

@media only screen and (min-width: 56.25em) {

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:  0 3% 5% 3%;
        margin-bottom: 0;
    }

    .row > .col-1-of-2 {
        flex: 1 0 30%;
        margin-bottom: 5%;
    }

    .bux_logo {
        width: 93%;
        height: auto;
    }

    .heading-primary--main {
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: 1rem;
    }
    .heading-primary--sub {
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: .5rem;
    }

    .heading-secondary {
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: 1.5rem;
    }

    .paragraph, .about-interest {
        font-size: 2rem; 
    } 

    .heading-tertiary {
        font-weight: 600;
        font-size: 2rem;
        padding-left: 8%;
    }

    .about-interest > li > i {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .noteful-logo2 {
        display: none;
    }

    .noteful-logo1 {
        visibility: visible;
    }

    .heading-projects {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: 1.5rem;
        margin-bottom: 3%;
    }

    .btn:link,
    .btn:visited {
        padding: .8rem 1rem;
    }
    
    .header__logo {
        height: 7rem;
        width: 7rem;
        
    }
    
    .header__text-box {
        top: 40%;
    }

    .navigation__button {
        height: 5rem;
        width: 5rem;
        top: 4rem;
        right: 5rem;
    }
      
    .navigation__background {
        height: 5rem;
        width: 5rem;
        top: 4rem;
        right: 5rem;
    }

    .navigation__link:link, .navigation__link:visited {
        font-size: 3rem;
    }

    .navigation__contact:link , .navigation__contact:visited {
        color: var(--color-primary-dark)
    }

    .navigation__contact {
        font-size: 3rem;
        color: pink;
    }

    .fa-linkedin:hover, .fa-github-square:hover, .fa-envelope:hover {
        color: rgba(0,0,102,1);
        font-size: 3.5rem;
    }

    .navigation__icon {
        margin-top: 2.5rem; 
    }
    
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3rem;
        height: 2px;
    }

    .navi-items {
        width: 27%;
    }

}